* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Max Sans', sans-serif;
    background-color: #060212;
    color: white;
  
}

.navbar{
    background-color: hsla(0, 0%, 0%, 0.5);
}

.logo{
    width: 150px
}
.logo img{
    width: 100%;
}

.navbar-container{
display: flex;
justify-content : space-between;
align-items: center;
margin: 0 auto;
padding: 0 20px;
}
.nav-links{
    display: flex;
    margin: 25px;
    gap: 15px;
    list-style: none;
    
}

.nav-links a {
    text-decoration: none;
}
.hero {
   
    min-height: 80vh;
 
    background:
    
      linear-gradient(
        to bottom,
        rgba(6, 2, 18, 0) 75%,  
        rgba(6, 2, 18, 1) 89% 
      ),
      url("https://m.media-amazon.com/images/S/pv-target-images/761cb721c574d0fa4f6e3334d959fcae13a9d24ab4d0ba65a22e55a7363d9aa3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;

  }
.hero-container{
    position: absolute;
    top: 120px;
    left: 220px;
}
  
  .hero-logo img {
    width: 200px;

  }

  .hero-context{
    color: white;
  }
  .meta-info{
    display: flex;
    font-size: 10px;
    gap: 10px;
    margin: 10px 0 
  
  }

  .description{
    font-size: 10px;
    width: 270px;
    line-height: 150%;
  }

  .episodes{
    width: 100%;
  }